{% extends 'base.html' %} {% block head %}
<title>WiseGamble - {{ partita.home }} vs {{ partita.away }}</title>
<link href="{{ url_for('static', filename='css/partita.css') }}" rel="stylesheet"> {% endblock %} {% block body %}
<main id="main">
    <div class="container">
        <div class="row">
            <div class="title">
                <img src="{{ partita.home_image }}" alt="" srcset="">
                <div class="fratm">
                    <p>{{ partita.tournament_name }}</p>
                    <h1>{{ partita.home }} - {{ partita.away }}</h1>
                    <p>{{ datetime.utcfromtimestamp(partita.timestamp).strftime('%Y-%m-%d %H:%M') }}</p>
                </div>
                <img src="{{ partita.away_image }}" alt="" srcset="">
            </div>
            <br>
            <section id="services" class="services" style="text-align: center">
                <h2>Previsioni:</h2>
                <br>
                <div class="container" data-aos="fade-up">
                    <div class="row gy-6">
                        <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="service-box blue">
                                <i class="bi bi-flag-fill"></i>
                                <h3>O/U Corner</h3>
                                <h3>{{ predictions["Corner"][0] }}</h3>
                                <h4>Fiducia {{ predictions["Corner"][1] }}%</h4>
                            </div>
                        </div>

                        <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                            <div class="service-box orange">
                                <img src="{{ url_for('static', filename='image/referee.svg') }}" width="30px" alt="" srcset="">
                                <h3>O/U Cartellini Gialli</h3>
                                <h3>{{ predictions["YellowCards"][0] }}</h3>
                                <h4>Fiducia {{ predictions["YellowCards"][1] }}%</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

{% endblock %}